openapi: 3.1.0
info:
  version: 3.0.0
  title: Strackr API
  contact:
    name: API Support
    url: https://strackr.com/contact
    email: support@strackr.com
servers:
  - url: https://api.strackr.com/v3
    description: Main (production) server with live database
tags:
  - name: General
  - name: Advertisers
  - name: Categories
  - name: AD Reports
  - name: AD Statistics
  - name: AD Tools
  - name: IM Transactions
  - name: IM Inquiries
  - name: IM Uploads
paths:
  /networks:
    get:
      summary: Networks
      operationId: listNetworks
      description: List all networks
      tags:
        - General
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/connections'
      responses:
        '200':
          description: An array of networks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Network'
              examples:
                '0':
                  value:
                    resource: networks
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: XXXX
                        name: Awin
                        logo: https://i.strackr.com/logo.png
                        connections:
                          - id: YYYYYYY
                            name: Awin US
                            status_id: ok
                            connector_id: ZZZZZZ
                            connector_name: API Transactions
                            data:
                              advertisers: true
                              programs_status: true
                              transactions: true
                              revenues: true
                              clicks: true
                              payments: false
                              deals: true
                              channels: false
                            features:
                              linkbuilder: true
                              inquiry_manager: true
                              inquiry_manager_information:
                                transaction_inquiries: true
                                inquiries: true
                                required_fields:
                                  - connection_id
                                  - advertiser_id
                                  - type_id
                                available_fields:
                                  - connection_id
                                  - advertiser_id
                                  - type_id
                                  - sold
                                  - source_id
                                upload_id: exportfile
                                upload_name: Export file
                                upload_frequency: daily
        default:
          $ref: '#/components/responses/UnexpectedError'
  /network/{networkId}:
    get:
      summary: Network
      operationId: getNetwork
      description: Network information
      tags:
        - General
      parameters:
        - $ref: '#/components/parameters/networkId'
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
      responses:
        '200':
          description: An array with the network
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Network'
              examples:
                '0':
                  value:
                    resource: networks
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: XXXX
                        name: Awin
                        logo: https://i.strackr.com/logo.png
                        connections:
                          - id: YYYYYYY
                            name: Awin US
                            status_id: ok
                            connector_id: ZZZZZZ
                            connector_name: API Transactions
                            data:
                              advertisers: true
                              programs_status: true
                              transactions: true
                              revenues: true
                              clicks: true
                              payments: false
                              deals: true
                              channels: false
                            features:
                              linkbuilder: true
                              inquiry_manager: true
                              inquiry_manager_information:
                                transaction_inquiries: true
                                inquiries: true
                                required_fields:
                                  - connection_id
                                  - advertiser_id
                                  - type_id
                                available_fields:
                                  - connection_id
                                  - advertiser_id
                                  - type_id
                                  - sold
                                  - source_id
                                upload_id: exportfile
                                upload_name: Export file
                                upload_frequency: daily
        default:
          $ref: '#/components/responses/UnexpectedError'
  /views:
    get:
      summary: Views
      operationId: listViews
      description: List all views
      tags:
        - General
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
      responses:
        '200':
          description: An array of views
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/View'
              examples:
                '0':
                  value:
                    resource: views
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: ZZZZZZZ
                        name: My view
                        connections:
                          - id: XXXXX
                            name: Awin Website A
                        channels:
                          - id: YYYYY
                            name: Channel A
                        categories:
                          - id: ZZZZZ
                            name: Category A
        default:
          $ref: '#/components/responses/UnexpectedError'
  /channels:
    get:
      summary: Channels
      operationId: listChannels
      description: List all channels
      tags:
        - General
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/connections'
      responses:
        '200':
          description: An array of channels
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Channel'
              examples:
                '0':
                  value:
                    resource: channels
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: ZZZZZZZZ
                        name: Channel name
                        source_id: XXXXXXX
                        network_id: ZZZZ
                        network_name: TradeTracker
                        connection_id: WWWWWWWW
                        connection_name: Tradetracker NL account
        default:
          $ref: '#/components/responses/UnexpectedError'
  /ping:
    get:
      summary: Ping
      operationId: listPing
      description: A ping test
      tags:
        - General
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
      responses:
        '200':
          description: An array with the ping message
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          required:
                            - health_status
                          properties:
                            health_status:
                              type: string
                              enum:
                                - success
              examples:
                '0':
                  value:
                    resource: ping
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - health_status: success
        default:
          $ref: '#/components/responses/UnexpectedError'
  /advertisers:
    get:
      summary: Advertisers
      operationId: listAdvertisers
      description: List all advertisers
      tags:
        - Advertisers
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of advertisers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Advertiser'
              examples:
                '0':
                  value:
                    resource: advertisers
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: XXXXXXXX
                        name: Currys PC World
                        logo: https://i.strackr.com/merchants/logo.gif
                        website: https://url.com
                        country: GB
                        network_id: XXXX
                        network_name: Awin
                        source_id: xxxxx
                        categories:
                          - id: IIIIIIII
                            name: Electronics
                            color_id: 2
                        programs:
                          - id: WWWWWWWW
                            source_id: null
                            connection_id: WWWWWWWW
                            connection_name: Awin Account A
                            channel_id: XXX
                            channel_name: My website
                            status_id: joined
                            status_name: Joined
                            joined: '2018-08-09T11:10:12'
                            pending: null
                            suspended: null
                            rejected: null
                            closed: null
                            commissions:
                              ratio:
                                min: 0
                                max: 6
                              fixed: null
                              cpc: null
                        commission:
                          ratio:
                            min: 1.5
                            max: 1.5
                          fixed:
                            min: null
                            max: null
                          cpc:
                            min: null
                            max: null
                        cookie: 720
        default:
          $ref: '#/components/responses/UnexpectedError'
  /advertisers/{advertiserId}:
    get:
      summary: Advertiser
      operationId: getAdvertiser
      description: Advertiser information
      tags:
        - Advertisers
      parameters:
        - $ref: '#/components/parameters/advertiserId'
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
      responses:
        '200':
          description: An array with the advertiser
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Advertiser'
              examples:
                '0':
                  value:
                    resource: advertisers
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: XXXXXXXX
                        name: Currys PC World
                        logo: https://i.strackr.com/merchants/logo.gif
                        website: https://url.com
                        country: GB
                        network_id: XXXX
                        network_name: Awin
                        source_id: xxxxx
                        categories:
                          - id: IIIIIIII
                            name: Electronics
                            color_id: 2
                        programs:
                          - id: WWWWWWWW
                            source_id: null
                            connection_id: WWWWWWWW
                            connection_name: Awin Account A
                            channel_id: XXX
                            channel_name: My website
                            status_id: joined
                            status_name: Joined
                            joined: '2018-08-09T11:10:12'
                            pending: null
                            suspended: null
                            rejected: null
                            closed: null
                            commissions:
                              ratio:
                                min: 0
                                max: 6
                              fixed: null
                              cpc: null
                        commission:
                          ratio:
                            min: 1.5
                            max: 1.5
                          fixed:
                            min: null
                            max: null
                          cpc:
                            min: null
                            max: null
                        cookie: 720
        default:
          $ref: '#/components/responses/UnexpectedError'
  /categories:
    get:
      summary: Categories
      operationId: listCategories
      description: List all categories
      tags:
        - Categories
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/views'
      responses:
        '200':
          description: An array of categories
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Category'
              examples:
                '0':
                  value:
                    resource: categories
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: ZZZZZZZ
                        name: Electronics
                        color_id: 2
                        advertisers:
                          - id: XXXXXXX
                            name: CDiscount
                            network_id: YYYY
                            network_name: CJ Affiliate
                          - id: XXXXXXX
                            name: MasMovil
                            network_id: YYYY
                            network_name: Awin
        default:
          $ref: '#/components/responses/UnexpectedError'
  /categories/{categoryId}:
    get:
      summary: Category
      operationId: getCategory
      description: Category information
      tags:
        - Categories
      parameters:
        - $ref: '#/components/parameters/categoryId'
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
      responses:
        '200':
          description: An array with the category
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Category'
              examples:
                '0':
                  value:
                    resource: categories
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: ZZZZZZZ
                        name: Electronics
                        color_id: 2
                        advertisers:
                          - id: XXXXXXX
                            name: CDiscount
                            network_id: YYYY
                            network_name: CJ Affiliate
                          - id: XXXXXXX
                            name: MasMovil
                            network_id: YYYY
                            network_name: Awin
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Update category
      operationId: updateCategory
      description: Update category with advertisers
      tags:
        - Categories
      parameters:
        - $ref: '#/components/parameters/categoryId'
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
      requestBody:
        description: List of advertisers
        content:
          application/json:
            schema:
              type: object
              required:
                - advertisers
              properties:
                advertisers:
                  type: array
                  description: List of advertisers
                  items:
                    type: string
                    example: xxxxxxxx
                    minLength: 8
                    maxLength: 8
            examples:
              '0':
                summary: Request sample
                value:
                  advertisers:
                    - xxxxxxxx
                    - yyyyyyyy
      responses:
        '200':
          description: An array with the category
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Category'
              examples:
                '0':
                  value:
                    resource: categories
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: ZZZZZZZ
                        name: Electronics
                        color_id: 2
                        advertisers:
                          - id: XXXXXXX
                            name: CDiscount
                            network_id: YYYY
                            network_name: CJ Affiliate
                          - id: XXXXXXX
                            name: MasMovil
                            network_id: YYYY
                            network_name: Awin
        default:
          $ref: '#/components/responses/UnexpectedError'
  /reports/transactions:
    get:
      summary: Transactions
      operationId: listTransactions
      description: List all transactions
      tags:
        - AD Reports
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/timetype'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
        - $ref: '#/components/parameters/customs'
        - $ref: '#/components/parameters/customsearchtype'
      responses:
        '200':
          description: An array of transactions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Transaction'
              examples:
                '0':
                  value:
                    resource: reports
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: AAAAAAAAAAAAAA
                        source_id: XXXXXXXXXX
                        network_id: QQQQ
                        network_name: Awin
                        connection_id: XXXXXX
                        advertiser_id: ZZZZZZ
                        advertiser_name: Cdiscount FR
                        program_id: WWWWWWWW
                        order_id: '1111111111111'
                        country: FR
                        clicked: '2018-01-04T09:35:00'
                        sold: '2018-01-04T09:50:00'
                        checked: null
                        referrer: http://mywebsite.com
                        target: http://merchant.com
                        device_id: pc
                        device_name: PC
                        os_id: windows
                        os_name: Windows
                        channel_id: XXX
                        channel_name: My website
                        event_id: XXXXXXXX
                        event_name: Pre-Pay Check & Reserve
                        reason_id: XXXXXXXX
                        reason_name: Full Refund
                        customs:
                          - MY_CUSTOMS_IDS
                          - null
                          - null
                          - null
                          - null
                        currency: EUR
                        price: 561.42
                        revenue: 14.04
                        source_currency:
                          currency: GBP
                          price: 499
                          revenue: 12.48
                        status_id: pending
                        status_name: Pending
                        status_updated: '2018-01-04T09:50:00'
                        paid: true
                        paid_updated: '2018-03-14T23:10:20'
                        coupon:
                          used: true
                          code: FLASH10
                        inquiry: true
                        baskets:
                          - id: FFFFFFFFFFFFF
                            source_id: EEEEE
                            source_group: null
                            name: Samsung Galaxy S8
                            price: 561.42
                            quantity: 1
                            price_total: 561.42
                            rate_id: sale
                            rate_name: Sale
                            rate: 2.5
                            revenue: 14.04
                            source_currency:
                              currency: GBP
                              price: 499
                              price_total: 499
                              revenue: 12.48
        default:
          $ref: '#/components/responses/UnexpectedError'
  /reports/revenues:
    get:
      summary: Revenues
      operationId: listRevenues
      description: List all revenues
      tags:
        - AD Reports
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of revenues
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Revenue'
              examples:
                '0':
                  value:
                    resource: reports
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-04'
                        network_id: XXXX
                        network_name: Awin
                        connection_id: XXXXXX
                        advertiser_id: ZZZZZZ
                        advertiser_name: My merchant
                        country: FR
                        channel_id: XXX
                        channel_name: My website
                        currency: EUR
                        revenue: 60.69
                        source_currency:
                          currency: EUR
                          revenue: 60.69
                        status_id: pending
                        status_name: Pending
                        transactions: 27
                        clicks: null
        default:
          $ref: '#/components/responses/UnexpectedError'
  /reports/clicks:
    get:
      summary: Clicks
      operationId: listClicks
      description: List all clicks
      tags:
        - AD Reports
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of clicks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Click'
              examples:
                '0':
                  value:
                    resource: reports
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-04'
                        network_id: AAAA
                        network_name: Affilinet
                        advertiser_id: XXXXXX
                        advertiser_name: Merchant.com
                        channel_id: XXX
                        channel_name: My website
                        clicks: 390
        default:
          $ref: '#/components/responses/UnexpectedError'
  /reports/payments:
    get:
      summary: Payments
      operationId: listPayments
      description: List all payments
      tags:
        - AD Reports
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
      responses:
        '200':
          description: An array of payments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Payment'
              examples:
                '0':
                  value:
                    resource: reports
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - billed: '2017-08-31'
                        paid: '2017-10-15'
                        network_id: ZZZZ
                        network_name: Network
                        currency: EUR
                        amount: 530.17
                        source_currency:
                          currency: EUR
                          amount: 530.17
        default:
          $ref: '#/components/responses/UnexpectedError'
  /reports/deals:
    get:
      summary: Deals
      operationId: listDeals
      description: List all deals
      tags:
        - AD Reports
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/statusdeals'
        - $ref: '#/components/parameters/typesdeals'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of deals
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Deal'
              examples:
                '0':
                  value:
                    resource: reports
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - id: AAAAAAAAAAAAA
                        source_id: '1234567'
                        network_id: FFF
                        network_name: TradeTracker
                        connection_id: XXXXXX
                        advertiser_id: ZZZZZ
                        advertiser_name: Conrad.nl
                        advertiser_url: https://url.com
                        country: NL
                        channel_id: XXX
                        channel_name: My website
                        type_id: coupon
                        type_name: Coupon/Voucher
                        title: Algemeen 5%
                        description: Korting op het hele assortiment.
                        status_id: pending
                        status_name: Pending
                        start: '2019-01-02T00:00:00'
                        end: '2019-03-31T00:00:00'
                        updated: '2019-01-02T11:12:40'
                        coupon: CODE
                        discount_variable: 5
                        discount_fixed: 0
                        currency: EUR
                        url: https://url.com
                        deeplink: https://url.com/productpage
                        trackinglink: https://trackinglink.com/xyz
                        terms: null
                        categories: null
        default:
          $ref: '#/components/responses/UnexpectedError'
  /statistics/transactions:
    get:
      summary: Transactions
      operationId: listStatisticsTransactions
      description: Transaction statistics
      tags:
        - AD Statistics
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/timerange'
        - in: query
          name: sort_by
          description: Ordering
          schema:
            type: string
            enum:
              - time
              - transaction
              - revenue
            default: time
        - $ref: '#/components/parameters/sortorder'
        - in: query
          name: group_by
          description: Group result
          schema:
            type: string
            enum:
              - status
              - advertiser
              - network
              - os
              - device
              - country
              - category
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
        - $ref: '#/components/parameters/customs'
        - $ref: '#/components/parameters/customsearchtype'
      responses:
        '200':
          description: An array of transaction statistics
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - title: Default
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/TransactionDefault'
                  - allOf:
                      - title: Group by network
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/TransactionNetwork'
                  - allOf:
                      - title: Group by advertiser
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/TransactionAdvertiser'
                  - allOf:
                      - title: Group by category
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/TransactionCategory'
                  - allOf:
                      - title: Group by status
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/TransactionStatus'
                  - allOf:
                      - title: Group by OS
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/TransactionOs'
                  - allOf:
                      - title: Group by device
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/TransactionDevice'
                  - allOf:
                      - title: Group by country
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/TransactionCountry'
              examples:
                '0':
                  summary: Default
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        currency: EUR
                        amount_price: 5420.33
                        amount_revenue: 399.56
                        total_transaction: 32
                '1':
                  summary: Group by network
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        network_id: XXXX
                        network_name: Awin
                        currency: EUR
                        amount_price: 1475.32
                        amount_revenue: 40.69
                        total_transaction: 13
                '2':
                  summary: Group by advertiser
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        advertiser_id: ZZZZZ
                        advertiser_name: Merchant
                        currency: EUR
                        amount_price: 322.34
                        amount_revenue: 6.45
                        total_transaction: 5
                '3':
                  summary: Group by category
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        category_id: XXXXXXXX
                        category_name: My category
                        currency: EUR
                        amount_price: 965.39
                        amount_revenue: 52984.03
                        total_transaction: 624
                '4':
                  summary: Group by status
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        status_id: confirmed
                        status_name: Confirmed
                        currency: EUR
                        amount_price: 21.44
                        amount_revenue: 1.88
                        total_transaction: 3
                '5':
                  summary: Group by OS
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        os_id: linux
                        os_name: Linux
                        currency: EUR
                        amount_price: 121.89
                        amount_revenue: 311.55
                        total_transaction: 82
                '6':
                  summary: Group by device
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        device_id: pc
                        device_name: PC
                        currency: EUR
                        amount_price: 3142.76
                        amount_revenue: 12444.03
                        total_transaction: 852
                '7':
                  summary: Group by country
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        country: US
                        currency: EUR
                        amount_price: 197.44
                        amount_revenue: 366.46
                        total_transaction: 58
        default:
          $ref: '#/components/responses/UnexpectedError'
  /statistics/revenues:
    get:
      summary: Revenues
      operationId: listStatisticsRevenues
      description: Revenue statistics
      tags:
        - AD Statistics
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/timerange'
        - in: query
          name: sort_by
          description: Ordering
          schema:
            type: string
            enum:
              - time
              - transaction
              - revenue
              - click
            default: time
        - $ref: '#/components/parameters/sortorder'
        - in: query
          name: group_by
          description: Group result
          schema:
            type: string
            enum:
              - status
              - advertiser
              - network
              - country
              - category
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of revenue statistics
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - title: Default
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/RevenueDefault'
                  - allOf:
                      - title: Group by network
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/RevenueNetwork'
                  - allOf:
                      - title: Group by advertiser
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/RevenueAdvertiser'
                  - allOf:
                      - title: Group by category
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/RevenueCategory'
                  - allOf:
                      - title: Group by status
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/RevenueStatus'
                  - allOf:
                      - title: Group by country
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/RevenueCountry'
              examples:
                '0':
                  summary: Default
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        currency: EUR
                        amount_revenue: 311.1
                        total_transaction: 33
                        total_click: 2631
                '1':
                  summary: Group by network
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        network_id: XXXX
                        network_name: Awin
                        currency: EUR
                        amount_revenue: 77.47
                        total_transaction: 38
                        total_click: null
                '2':
                  summary: Group by advertiser
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        advertiser_id: ZZZZZZ
                        advertiser_name: My advertiser
                        currency: EUR
                        amount_revenue: 16.07
                        total_transaction: 7
                        total_click: null
                '3':
                  summary: Group by category
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        category_id: XXXXXXXX
                        category_name: My Category
                        currency: EUR
                        amount_revenue: 71.2
                        total_transaction: 12
                        total_click: null
                '4':
                  summary: Group by status
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        status_id: pending
                        status_name: Pending
                        currency: EUR
                        amount_revenue: 367.34
                        total_transaction: 39
                        total_click: null
                '5':
                  summary: Group by country
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        country: GB
                        currency: EUR
                        amount_revenue: 97.57
                        total_transaction: 24
                        total_click: null
        default:
          $ref: '#/components/responses/UnexpectedError'
  /statistics/clicks:
    get:
      summary: Clicks
      operationId: listStatisticsClicks
      description: Click statistics
      tags:
        - AD Statistics
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/timerange'
        - in: query
          name: sort_by
          description: Ordering
          schema:
            type: string
            enum:
              - time
              - click
            default: time
        - $ref: '#/components/parameters/sortorder'
        - in: query
          name: group_by
          description: Group result
          schema:
            type: string
            enum:
              - advertiser
              - network
              - category
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of click statistics
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - title: Default
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/ClickDefault'
                  - allOf:
                      - title: Group by network
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/ClickNetwork'
                  - allOf:
                      - title: Group by advertiser
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/ClickAdvertiser'
                  - allOf:
                      - title: Group by category
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/ClickCategory'
              examples:
                '0':
                  summary: Default
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        total_click: 774
                '1':
                  summary: Group by network
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        network_id: XXX
                        network_name: Network
                        total_click: 443
                '2':
                  summary: Group by advertiser
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        advertiser_id: ZZZZZZ
                        advertiser_name: My advertiser
                        total_click: 61
                '3':
                  summary: Group by category
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        category_id: XXXXXXXX
                        category_name: My Category
                        total_click: 61
        default:
          $ref: '#/components/responses/UnexpectedError'
  /statistics/payments:
    get:
      summary: Payments
      operationId: listStatisticsPayments
      description: Payment statistics
      tags:
        - AD Statistics
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/timerange'
        - in: query
          name: sort_by
          description: Ordering
          schema:
            type: string
            enum:
              - time
              - amount
            default: time
        - $ref: '#/components/parameters/sortorder'
        - in: query
          name: group_by
          description: Group result
          schema:
            type: string
            enum:
              - network
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
      responses:
        '200':
          description: An array of payment statistics
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - title: Default
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/PaymentDefault'
                  - allOf:
                      - title: Group by network
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/PaymentNetwork'
              examples:
                '0':
                  summary: Default
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2017-11-30'
                        currency: EUR
                        amount: 1000
                '1':
                  summary: Group by network
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2017-11-30'
                        network_id: XXXX
                        network_name: Awin
                        currency: EUR
                        amount: 1000
        default:
          $ref: '#/components/responses/UnexpectedError'
  /tools/linkbuilder:
    get:
      summary: Linkbuilder
      operationId: getLinkbuilder
      description: Linkbuilder information. Before using the API, please read the API section of the [Link Builder's guide](https://app.strackr.com/aa/guides/kwLzej).
      tags:
        - AD Tools
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/urlslinkbuilder'
        - $ref: '#/components/parameters/customs'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
      responses:
        '200':
          description: An array with the urls and deeplinks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Linkbuilder'
              examples:
                '0':
                  value:
                    resource: linkbuilder
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - url: https://cdiscount.com
                        advertisers:
                          - advertiser_id: XXXXX
                            advertiser_name: Cdiscount FR
                            network_id: VVV
                            network_name: Awin
                            connections:
                              - connection_id: CCCCCCC
                                connection_name: Awin FR
                                links:
                                  - channel_id: null
                                    channel_name: null
                                    trackinglink: https://www.awin1.com/cread.php?url
        default:
          $ref: '#/components/responses/UnexpectedError'
  /inquirymanager/transactions:
    get:
      summary: Transaction inquiries
      operationId: listInquiryTransactions
      description: List all inquiry transactions
      tags:
        - IM Transactions
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - in: query
          name: time_type
          description: Defines the event on which time_start and time_end shall operate (inquiry date, transaction date or status change date)
          schema:
            type: string
            enum:
              - inquiry
              - transaction
              - status
            default: inquiry
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of transaction inquiries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/InquiryTransaction'
              examples:
                '0':
                  value:
                    resource: reports
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX&currency=EUR&time_start=2023-07-01&time_end=2023-09-15&time_range=all&group_by=network
                      time: '2023-10-01 08:24:46'
                      time_process: 18
                    error:
                      code: 0
                      message: OK
                      description: ''
                    informations: {}
                    results:
                      - id: AAAAAAAAAAAAAA
                        source_id: XXXXXXXXXX
                        network_id: QQQQ
                        network_name: TradeDoubler
                        connection_id: XXXXXX
                        advertiser_id: ZZZZZZ
                        advertiser_name: Avis
                        channel_id: null
                        channel_name: null
                        type_id: unknown
                        type_name: Unknown
                        created: '2023-09-14T00:00:00'
                        sold: '2022-11-22T00:00:00'
                        order_id: 3872-0956-FR-1 PP
                        customer_id: null
                        currency: EUR
                        expected_price: 430.32
                        expected_revenue: 56.8
                        final_price: null
                        final_revenue: null
                        source_currency:
                          currency: EUR
                          expected_price: 430.32
                          expected_revenue: 56.8
                          final_price: null
                          final_revenue: null
                        customs:
                          - MY_CUSTOMS_IDS
                          - null
                        status_id: pending
                        status_name: Pending
                        status_updated: '2023-09-14T00:00:00'
                        reason: Order not complete - Customer cancelled order
                        comment: Transaction declined without reason
        default:
          $ref: '#/components/responses/UnexpectedError'
  /inquirymanager/transactions/statistics:
    get:
      summary: Statistics
      operationId: listStatisticsTransactionInquirires
      description: Transaction inquiries statistics
      tags:
        - IM Transactions
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - $ref: '#/components/parameters/timerange'
        - in: query
          name: sort_by
          description: Ordering
          schema:
            type: string
            enum:
              - time
              - transaction_inquiry
              - revenue
            default: time
        - $ref: '#/components/parameters/sortorder'
        - in: query
          name: group_by
          description: Group result
          schema:
            type: string
            enum:
              - status
              - advertiser
              - network
              - category
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of transaction inquiry statistics
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - title: Default
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/StatisticsDefault'
                  - allOf:
                      - title: Group by network
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/StatisticsNetwork'
                  - allOf:
                      - title: Group by advertiser
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/StatisticsAdvertiser'
                  - allOf:
                      - title: Group by category
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/StatisticsCategory'
                  - allOf:
                      - title: Group by status
                      - $ref: '#/components/schemas/CollectionResponse'
                      - type: object
                        properties:
                          results:
                            type: array
                            items:
                              type: object
                              $ref: '#/components/schemas/StatisticsStatus'
              examples:
                '0':
                  summary: Default
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        currency: EUR
                        amount_price: 5420.33
                        amount_revenue: 399.56
                        total_transaction_inquiry: 32
                '1':
                  summary: Group by network
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        network_id: XXXX
                        network_name: Awin
                        currency: EUR
                        amount_price: 1475.32
                        amount_revenue: 40.69
                        total_transaction_inquiry: 13
                '2':
                  summary: Group by advertiser
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        advertiser_id: ZZZZZ
                        advertiser_name: Merchant
                        currency: EUR
                        amount_price: 322.34
                        amount_revenue: 6.45
                        total_transaction_inquiry: 5
                '3':
                  summary: Group by category
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        category_id: XXXXXXXX
                        category_name: My category
                        currency: EUR
                        amount_price: 965.39
                        amount_revenue: 52984.03
                        total_transaction_inquiry: 624
                '4':
                  summary: Group by status
                  value:
                    resource: statistics
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX
                      time: '2023-04-13 15:51:26'
                      time_process: 8
                    error:
                      code: 0
                      message: Ok
                      description: ''
                    results:
                      - day: '2018-01-05'
                        status_id: confirmed
                        status_name: Confirmed
                        currency: EUR
                        amount_price: 21.44
                        amount_revenue: 1.88
                        total_transaction_inquiry: 3
        default:
          $ref: '#/components/responses/UnexpectedError'
  /inquirymanager/inquiries:
    get:
      summary: Inquiries
      operationId: listInquiries
      description: List all inquiries
      tags:
        - IM Inquiries
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/timestart'
        - $ref: '#/components/parameters/timeend'
        - in: query
          name: time_type
          description: Defines the event on which time_start and time_end shall operate (inquiry date, transaction date or upload date)
          schema:
            type: string
            enum:
              - inquiry
              - transaction
              - upload
            default: inquiry
        - $ref: '#/components/parameters/currency'
        - in: query
          name: status
          description: Status code
          schema:
            type: string
            enum:
              - pending
              - uploaded
              - error
        - $ref: '#/components/parameters/networks'
        - $ref: '#/components/parameters/advertisers'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/connections'
        - $ref: '#/components/parameters/views'
        - $ref: '#/components/parameters/categories'
      responses:
        '200':
          description: An array of inquiries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Inquiry'
              examples:
                '0':
                  value:
                    resource: inquirymanager
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX&currency=EUR&time_start=2023-07-01&time_end=2023-09-15&time_range=all&group_by=network
                      time: '2023-10-01 08:24:46'
                      time_process: 18
                    error:
                      code: 0
                      message: OK
                      description: ''
                    informations: {}
                    results:
                      - id: AAAAAAAAAAAAAA
                        network_id: QQQQ
                        network_name: TradeDoubler
                        connection_id: XXXXXX
                        advertiser_id: ZZZZZZ
                        advertiser_name: Avis
                        channel_id: null
                        channel_name: null
                        type_id: unknown
                        type_name: Unknown
                        created: '2023-09-14T00:00:00'
                        sold: '2022-11-22T00:00:00'
                        source_id: XXXXXXXXXX
                        order_id: 3872-0956-FR-1 PP
                        customer_id: null
                        currency: EUR
                        price: 430.32
                        revenue: 56.8
                        source_currency:
                          currency: EUR
                          price: 430.32
                          revenue: 56.8
                        customs:
                          - MY_CUSTOMS_IDS
                          - null
                        comment: Transaction declined without reason
                        tracking_url: null
                        upload_id: xxxxx
                        uploaded: '2023-09-14T00:00:00'
                        status_id: uploaded
                        status_name: Uploaded
                        error_message: null
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Create inquiry
      operationId: createInquiry
      description: Create inquiry
      tags:
        - IM Inquiries
      parameters:
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/currency'
      requestBody:
        description: You can create multiple Inquiries with an array of Inquiry object. Some body parameters are displayed as `optional` but can be required according to the network
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - connection_id
                  - advertiser_id
                  - type_id
                  - sold
                  - revenue
                  - currency
                properties:
                  connection_id:
                    type: string
                    description: Connection ID
                    minLength: 8
                    maxLength: 8
                  advertiser_id:
                    type: string
                    description: Advertiser ID
                    minLength: 8
                    maxLength: 8
                  channel_id:
                    type: string
                    description: Channel ID
                    minLength: 8
                    maxLength: 8
                  type_id:
                    type: string
                    description: Type ID
                    enum:
                      - unknown
                      - untracked
                      - incorrect
                      - declined
                  sold:
                    type: string
                    description: Sold datetime (date ISO 8601)
                    format: date-time
                  order_id:
                    type: string
                    description: Order ID
                  customer_id:
                    type: string
                    description: Customer ID
                  price:
                    type: number
                    format: double
                    minimum: 0.01
                    description: Expected publisher price order for the inquiry
                  revenue:
                    type: number
                    format: double
                    minimum: 0.01
                    description: Expected publisher commission for the inquiry
                  currency:
                    type: string
                    description: Currency ISO 4217 code
                    minLength: 3
                    maxLength: 3
                  custom_1:
                    type: string
                    description: Customs ID 1, for example SubiIds
                  custom_2:
                    type: string
                    description: Customs ID 2, for example SubiIds
                  comment:
                    type: string
                    description: Comment from publisher
                  tracking_url:
                    type: string
                    description: Tracking URL used for the transaction
                    format: uri
              example:
                - connection_id: xxxxxxxx
                  advertiser_id: xxxxxxxx
                  channel_id: xxxxxxxx
                  type_id: untracked
                  sold: '2023-09-14T00:00:00'
                  order_id: 3872-0956-FR-1 PP
                  customer_id: user-123456
                  price: 430.32
                  revenue: 56.8
                  currency: EUR
                  custom_1: MY_CUSTOMS_IDS
                  custom_2: null
                  comment: Transaction declined without reason
                  tracking_url: https://mywebsite.com/tracking
      responses:
        '200':
          description: An array with the inquiry
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Inquiry'
              examples:
                '0':
                  value:
                    resource: inquirymanager
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX&currency=EUR&time_start=2023-07-01&time_end=2023-09-15&time_range=all&group_by=network
                      time: '2023-10-01 08:24:46'
                      time_process: 18
                    error:
                      code: 0
                      message: OK
                      description: ''
                    informations: {}
                    results:
                      - id: AAAAAAAAAAAAAA
                        network_id: QQQQ
                        network_name: TradeDoubler
                        connection_id: XXXXXX
                        advertiser_id: ZZZZZZ
                        advertiser_name: Avis
                        channel_id: null
                        channel_name: null
                        type_id: unknown
                        type_name: Unknown
                        created: '2023-09-14T00:00:00'
                        sold: '2022-11-22T00:00:00'
                        source_id: XXXXXXXXXX
                        order_id: 3872-0956-FR-1 PP
                        customer_id: null
                        currency: EUR
                        price: 430.32
                        revenue: 56.8
                        source_currency:
                          currency: EUR
                          price: 430.32
                          revenue: 56.8
                        customs:
                          - MY_CUSTOMS_IDS
                          - null
                        comment: Transaction declined without reason
                        tracking_url: null
                        upload_id: xxxxx
                        uploaded: '2023-09-14T00:00:00'
                        status_id: uploaded
                        status_name: Uploaded
                        error_message: null
        default:
          $ref: '#/components/responses/UnexpectedError'
  /inquirymanager/inquiries/{inquiryId}:
    get:
      summary: Inquiry
      operationId: getInquiry
      description: Inquiry information
      tags:
        - IM Inquiries
      parameters:
        - $ref: '#/components/parameters/inquiryId'
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: An array with the inquiry
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/Inquiry'
              examples:
                '0':
                  value:
                    resource: inquirymanager
                    results_count: 1
                    request:
                      url: https://api.strackr.com/v3/xxxxxxx?api_id=1111111&api_key=XXXXXXXXXX&currency=EUR&time_start=2023-07-01&time_end=2023-09-15&time_range=all&group_by=network
                      time: '2023-10-01 08:24:46'
                      time_process: 18
                    error:
                      code: 0
                      message: OK
                      description: ''
                    informations: {}
                    results:
                      - id: AAAAAAAAAAAAAA
                        network_id: QQQQ
                        network_name: TradeDoubler
                        connection_id: XXXXXX
                        advertiser_id: ZZZZZZ
                        advertiser_name: Avis
                        channel_id: null
                        channel_name: null
                        type_id: unknown
                        type_name: Unknown
                        created: '2023-09-14T00:00:00'
                        sold: '2022-11-22T00:00:00'
                        source_id: XXXXXXXXXX
                        order_id: 3872-0956-FR-1 PP
                        customer_id: null
                        currency: EUR
                        price: 430.32
                        revenue: 56.8
                        source_currency:
                          currency: EUR
                          price: 430.32
                          revenue: 56.8
                        customs:
                          - MY_CUSTOMS_IDS
                          - null
                        comment: Transaction declined without reason
                        tracking_url: null
                        upload_id: xxxxx
                        uploaded: '2023-09-14T00:00:00'
                        status_id: uploaded
                        status_name: Uploaded
                        error_message: null
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      summary: Upate inquiries
      operationId: updateInquiries
      description: Upate inquiries
      tags:
        - IM Inquiries
      parameters:
        - $ref: '#/components/parameters/inquiryId'
        - $ref: '#/components/parameters/apiid'
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/currency'
      requestBody:
        description: Inquiry
        content:
          application/json:
            schema:
              type: object
              properties:
                connection_id:
                  type: string
                  description: Connection ID
                  minLength: 8
                  maxLength: 8
                advertiser_id:
                  type: string
                  description: Advertiser ID
                  minLength: 8
                  maxLength: 8
[...]
